################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/bin/Debug/net8.0/
**/obj/Debug/net8.0/
**/bin/Release/
**/*.dll
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/.vs
.vs
**/bin/**
**/obj/**
[Dd]ebug/
[Rr]elease/
x64/
build/	
[Bb]in/
[Oo]bj/
packages/*/build/
packages/**/*.dll
 
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
*.cache
 
# Click-Once directory
publish/
 
# Publish Web Output
*.Publish.xml
/.vs/ProjectEvaluation/dynamicmenu.metadata.v9.bin
/.vs/ProjectEvaluation/dynamicmenu.projects.v9.bin
/.vs/ProjectEvaluation/dynamicmenu.strings.v9.bin
/.vs/DynamicMenu/v17/.futdcache.v2
/.vs/DynamicMenu/v17/.suo
/.vs/DynamicMenu/v17/DocumentLayout.backup.json
/.vs/DynamicMenu/v17/DocumentLayout.json
