<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Banking Menu</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div class="mobilContainer">

        <div id="app" class="app">
        </div>

        <nav class="bottom-nav">
            <div class="nav-item active">
                <i class="fas fa-home"></i>
                <span>Ana Sayfa</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-wallet"></i>
                <span>Hesap/Kart</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-list"></i>
                <span>İşlemler</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-file-alt"></i>
                <span>Başvuru</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-chart-pie"></i>
                <span>Varlıklar</span>
            </div>
        </nav>

    </div>

    <script type="text/template" id="menuTemplate">
        <div class="page" data-page="{{key}}">
            <header>
                <button class="back-button" data-page="{{parent}}">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <h1>{{caption}}</h1>
            </header>
            <main>
                <div class="menu-container" data-target="menuItems">

                </div>
            </main>
        </div>
    </script>

    <script type="text/template" id="menuItemTemplate">
        <div class="menu-item" data-page="{{target}}">
            <i class="fas fa-exchange-alt"></i>
            <span>{{text}}</span>
            <i class="fas fa-chevron-right" data-target="go"></i>
        </div>
    </script>

    <script src="~/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/lib/loadingmodal/jquery.loadingmodal.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/master.js"></script>

    <script type="text/javascript">

        var page = {
            menuContainerElem: $('#app'),
            data: null,
            menus: {},
            getList: function(item){

                var menuTemplate = $('#menuTemplate').html();
                menuTemplate = menuTemplate.replace(/{{caption}}/g, item.text);
                menuTemplate = menuTemplate.replace(/{{key}}/g, item.key);
                menuTemplate = menuTemplate.replace(/{{parent}}/g, (item.parent ?? 'root'));

                menuTemplate = $(menuTemplate);

                if(item.key == 'root'){
                    menuTemplate.find('.back-button').remove();
                }

                $.each(item.items, function(j, subitem){
                    var menuItemTemplate = $('#menuItemTemplate').html();
                        menuItemTemplate = menuItemTemplate
                            .replace(/{{text}}/g, subitem.text)
                            .replace(/{{target}}/g, subitem.key);

                    menuItemTemplate = $(menuItemTemplate);

                    if(subitem.items == null || subitem.items.length == 0){
                        menuItemTemplate.find('[data-target="go"]').remove();
                    }

                    menuTemplate.find('[data-target="menuItems"]').append(menuItemTemplate);
                });

                return $(menuTemplate);

            },
            makeList: function(item){

                if(item == null){
                    item = { key: 'root', text: 'İşlemler', items: page.data };
                }

                if(page.menus[item.key] != undefined){
                    page.menuContainerElem.append(page.menus[item.key]);
                    return ;
                }

                page.menus[item.key] = page.getList(item);
                page.menuContainerElem.append(page.menus[item.key]);

            },
            ready: function () {

                var makeSubMenu = function(item){

                    page.makeList(item);

                    $.each(item.items, function(ix,itemx){

                        if(itemx.items != null && itemx.items.length > 0){
                            //  page.makeList(itemx);
                            makeSubMenu(itemx);
                        }

                    });

                };

                ReadData('/Home/GetMenu?menuId=1', null, function (items) {

                    page.data = items;
                    page.makeList(null);

                    $.each(page.data, function(i,item){
                        if(item.items != null && item.items.length > 0){
                            makeSubMenu(item);
                        }
                    });

                    $('.page').hide();
                    $('.page[data-page="root"]').show();

                });

            },
            showMenu: function (item) {


            },
            backMenu: function (item) {

            }
        }

        $(document)

            .ready(function () {

                page.ready();

            })

            .on('click', '.menu-item', function (e) {

                e.preventDefault();

                var page = $('.page[data-page="' + $(this).attr('data-page') + '"]');
                if(page.length > 0){
                    $('.page').hide();
                    page.show();
                }

                return false;

            })

            .on('click', '.back-button', function (e) {

                e.preventDefault();

                $('.page').hide();
                $('.page[data-page="' + $(this).attr('data-page') + '"]').show();

                return false;

            })

            ;

    </script>

</body>
</html>
