<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Banking Menu</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div class="mobilContainer">

        <div id="app" class="app">

        </div>

        <nav class="bottom-nav">
            <div class="nav-item active">
                <i class="fas fa-home"></i>
                <span>Ana Sayfa</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-wallet"></i>
                <span>Hesap/Kart</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-list"></i>
                <span>İşlemler</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-file-alt"></i>
                <span>Başvuru</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-chart-pie"></i>
                <span>Varlıklar</span>
            </div>
        </nav>

    </div>

    <script type="text/template" id="pageTemplate">
        <div class="page" data-page="{{key}}">
            <header>
                <h1>{{caption}}</h1>
            </header>
            <main>
                <div class="menu-container" data-target="menuItems">
                    
                </div>
            </main>
        </div>
    </script>

    <script type="text/template" id="menuItemTemplate">
        <div class="menu-item" data-page="{{target}}">
            <i class="fas fa-exchange-alt"></i>
            <span>{{text}}</span>
            <i class="fas fa-chevron-right"></i>
        </div>
    </script>

    <script src="~/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/lib/loadingmodal/jquery.loadingmodal.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/master.js"></script>

    <script type="text/javascript">

        var page = {
            makeList: function(item){
            
                var pageTemplate = $('#pageTemplate').html();
                        pageTemplate = pageTemplate.replace('{{caption}}', item.text);
                        pageTemplate = pageTemplate.replace('{{key}}', item.key);
                        pageTemplate = $(pageTemplate);

                        $.each(item.items, function(j, subitem){
                            var menuItemTemplate = $('#menuItemTemplate').html();
                                menuItemTemplate = menuItemTemplate
                                    .replace('{{text}}', subitem.text)
                                    .replace('{{target}}', subitem.key);

                            pageTemplate.append($(menuItemTemplate));
                        });

                        $('#app').append(pageTemplate);

            },
            ready: function () {

                ReadData('/Home/GetMenu?menuId=1', null, function (items) {

                    $.each(items, function(i, item){
                        
                        page.makeList(item);

                        $.each(item.items, function(j, subitem){
                        
                            page.makeList(item);

                        });

                    });

                });

            },
            showMenu: function (item) {

                var elem = $('.page[data-page="' + $(item).attr('data-page') + '"]');

                $('.page').addClass('hidden');
                $(elem).removeClass('hidden');

            },
            backMenu: function (item) {

                var elem = $('#' + $(item).attr('data-target'));
                page.showMenu(elem);
            }
        }

        $(document)

            .ready(function () {

                //var pages = $('.page');
                //var mainMenu = $('#main-menu');

                page.ready();

            })

            .on('click', '.menu-item', function (e) {

                e.preventDefault();

                page.showMenu(this);

                return false;

            })

            .on('click', '.back-button', function (e) {

                e.preventDefault();

                page.backMenu(this);

                return false;

            })

            ;

    </script>

</body>
</html>
