<!-- Menü Tablosu Sayfası -->
<div class="page" id="list" data-page="menu-list">
    <main>
        <div class="action-buttons top-buttons">
            <a data-href="/MenuGroup/Insert" class="action-button" id="new-menu" data-modal="" data-method="get">
                <i class="fas fa-plus"></i>
                <span>Add Menu Group</span>
            </a>
        </div>

        <div class="data-table-container">
            <table class="table table-bordered table-hover align-middle" id="tbl">
                <thead class="table-light">
                    <tr>
                        <th>Adı</th>
                        <th>Açıklama</th>
                        <th>Aktif mi</th>
                        <th>Menü Tipi</th>
                        <th>Oluşturma Tarihi</th>
                        <th>Düzenleme Tarihi</th>
                        <th width="120">İşlemler</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </main>
</div>

<script type="text/template" id="tblRow">

    <tr>
        <td>{{data.Name}}</td>
        <td>{{data.Description}}</td>
        <td>
            <span class="badge bg-{{data.IsActive == true ? 'success' : 'danger'}}">{{data.IsActive == true ? 'Aktif' : 'Pasif'}}</span>
        </td>
            <td>{{data.MenuType}}</td>
            <td>{{new Date(data.CreatedDate).toLocaleString('tr-TR')}}</td>
            <td>{{data.ModifiedDate == null ? '-' : new Date(data.ModifiedDate).toLocaleString('tr-TR')}}</td>
            <td>
                <div class="btn-group" role="group">
                    <a data-href="/MenuGroup/Update" class="btn btn-sm btn-primary" data-id="{{data.Id}}" data-modal data-method="get">Düzenle</a>
                    <a data-href="/MenuGroup/Delete?Id={{data.Id}}" data-modal data-ask class="btn btn-sm btn-info">Sil</a>
                </div>
            </td>
        </tr>

</script>

@section Scripts {

<script type="text/javascript">

    var page = {

        tbl: null,
        ready: function(){

            ReadData('/MenuGroup/GetAll', null, function(res){

                TemplateEngine.RenderAll($('#tblRow'), res, $('#tbl tbody'));

                    $('#tbl').dataTable({
                            responsive: true,
                            language: {
                                url: '/lib/dataTables/tr.json'
                            }
                            });

            });

        }

    };

    $(document)

    .ready(function () {

        page.ready();

    })

    ;

</script>

}
